-- WARNING: This schema is for context only and is not meant to be run.
-- Table order and constraints may not be valid for execution.

CREATE TABLE public.usuarios (
  id integer NOT NULL DEFAULT nextval('usuarios_id_seq'::regclass),
  nome character varying NOT NULL,
  username character varying NOT NULL UNIQUE,
  senha character varying NOT NULL,
  nivel integer NOT NULL DEFAULT 0,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT usuarios_pkey PRIMARY KEY (id)
);
CREATE TABLE public.workspaces (
  id integer NOT NULL DEFAULT nextval('workspaces_id_seq'::regclass),
  nome character varying NOT NULL,
  codigo character varying NOT NULL UNIQUE,
  criado_por integer,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT workspaces_pkey PRIMARY KEY (id),
  CONSTRAINT workspaces_criado_por_fkey FOREIGN KEY (criado_por) REFERENCES public.usuarios(id)
);
CREATE TABLE public.projetos (
  id integer NOT NULL DEFAULT nextval('projetos_id_seq'::regclass),
  workspace_id integer NOT NULL,
  nome character varying NOT NULL,
  descricao text,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT projetos_pkey PRIMARY KEY (id),
  CONSTRAINT projetos_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id)
);
CREATE TABLE public.sessoes (
  id integer NOT NULL DEFAULT nextval('sessoes_id_seq'::regclass),
  projeto_id integer NOT NULL,
  nome character varying NOT NULL,
  descricao text,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT sessoes_pkey PRIMARY KEY (id),
  CONSTRAINT sessoes_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projetos(id)
);
CREATE TABLE public.etapas (
  id integer NOT NULL DEFAULT nextval('etapas_id_seq'::regclass),
  sessao_id integer NOT NULL,
  nome character varying NOT NULL,
  descricao text,
  status character varying NOT NULL DEFAULT 'Não iniciado'::character varying,
  responsavel_id integer,
  created_at timestamp with time zone DEFAULT now(),
  prioridade integer DEFAULT 0,
  prazo date,
  CONSTRAINT etapas_pkey PRIMARY KEY (id),
  CONSTRAINT etapas_sessao_id_fkey FOREIGN KEY (sessao_id) REFERENCES public.sessoes(id),
  CONSTRAINT etapas_responsavel_id_fkey FOREIGN KEY (responsavel_id) REFERENCES public.usuarios(id)
);
CREATE TABLE public.notas (
  id integer NOT NULL DEFAULT nextval('notas_id_seq'::regclass),
  workspace_id integer NOT NULL,
  projeto_id integer,
  sessao_id integer,
  criado_por integer,
  titulo character varying,
  conteudo text,
  cor character varying DEFAULT '#fff9c4'::character varying,
  anexos jsonb DEFAULT '[]'::jsonb,
  pos_x integer DEFAULT 0,
  pos_y integer DEFAULT 0,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT notas_pkey PRIMARY KEY (id),
  CONSTRAINT notas_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id),
  CONSTRAINT notas_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projetos(id),
  CONSTRAINT notas_sessao_id_fkey FOREIGN KEY (sessao_id) REFERENCES public.sessoes(id),
  CONSTRAINT notas_criado_por_fkey FOREIGN KEY (criado_por) REFERENCES public.usuarios(id)
);
CREATE TABLE public.avisos (
  id integer NOT NULL DEFAULT nextval('avisos_id_seq'::regclass),
  workspace_id integer NOT NULL,
  mensagem text NOT NULL,
  ativo boolean DEFAULT true,
  criado_por integer,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT avisos_pkey PRIMARY KEY (id),
  CONSTRAINT avisos_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id),
  CONSTRAINT avisos_criado_por_fkey FOREIGN KEY (criado_por) REFERENCES public.usuarios(id)
);
CREATE TABLE public.logs (
  id integer NOT NULL DEFAULT nextval('logs_id_seq'::regclass),
  workspace_id integer,
  usuario_id integer,
  usuario_nome character varying,
  mensagem text NOT NULL,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT logs_pkey PRIMARY KEY (id),
  CONSTRAINT logs_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id),
  CONSTRAINT logs_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id)
);
CREATE TABLE public.projeto_usuarios (
  id integer NOT NULL DEFAULT nextval('projeto_usuarios_id_seq'::regclass),
  projeto_id integer NOT NULL,
  usuario_id integer NOT NULL,
  CONSTRAINT projeto_usuarios_pkey PRIMARY KEY (id),
  CONSTRAINT projeto_usuarios_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id),
  CONSTRAINT projeto_usuarios_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projetos(id)
);
CREATE TABLE public.sessao_usuarios (
  id integer NOT NULL DEFAULT nextval('sessao_usuarios_id_seq'::regclass),
  sessao_id integer NOT NULL,
  usuario_id integer NOT NULL,
  CONSTRAINT sessao_usuarios_pkey PRIMARY KEY (id),
  CONSTRAINT sessao_usuarios_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id),
  CONSTRAINT sessao_usuarios_sessao_id_fkey FOREIGN KEY (sessao_id) REFERENCES public.sessoes(id)
);
CREATE TABLE public.workspace_usuarios (
  id integer NOT NULL DEFAULT nextval('workspace_usuarios_id_seq'::regclass),
  workspace_id integer NOT NULL,
  usuario_id integer NOT NULL,
  role character varying DEFAULT 'member'::character varying,
  CONSTRAINT workspace_usuarios_pkey PRIMARY KEY (id),
  CONSTRAINT workspace_usuarios_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id),
  CONSTRAINT workspace_usuarios_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id)
);
CREATE TABLE public.pedidos_acesso (
  id bigint GENERATED ALWAYS AS IDENTITY NOT NULL,
  workspace_id bigint,
  usuario_id bigint,
  usuario_nome text,
  usuario_username text,
  status text DEFAULT 'pendente'::text,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT pedidos_acesso_pkey PRIMARY KEY (id),
  CONSTRAINT pedidos_acesso_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id),
  CONSTRAINT pedidos_acesso_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id)
);
CREATE TABLE public.arquivos (
  id bigint GENERATED ALWAYS AS IDENTITY NOT NULL,
  nome text NOT NULL,
  path text NOT NULL,
  projeto_id integer NOT NULL,
  workspace_id integer NOT NULL,
  criado_por integer,
  created_at timestamp with time zone DEFAULT now(),
  pasta_id bigint,
  visibilidade character varying NOT NULL DEFAULT 'publico'::character varying CHECK (visibilidade::text = ANY (ARRAY['publico'::character varying, 'privado'::character varying]::text[])),
  tamanho bigint,
  CONSTRAINT arquivos_pkey PRIMARY KEY (id),
  CONSTRAINT arquivos_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projetos(id),
  CONSTRAINT arquivos_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id),
  CONSTRAINT arquivos_criado_por_fkey FOREIGN KEY (criado_por) REFERENCES public.usuarios(id),
  CONSTRAINT arquivos_pasta_id_fkey FOREIGN KEY (pasta_id) REFERENCES public.pastas_arquivos(id)
);
CREATE TABLE public.eventos (
  id bigint GENERATED ALWAYS AS IDENTITY NOT NULL,
  workspace_id integer NOT NULL,
  nome character varying NOT NULL,
  descricao text,
  data date NOT NULL,
  hora time without time zone,
  criado_por integer,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT eventos_pkey PRIMARY KEY (id),
  CONSTRAINT eventos_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id),
  CONSTRAINT eventos_criado_por_fkey FOREIGN KEY (criado_por) REFERENCES public.usuarios(id)
);
CREATE TABLE public.pastas_arquivos (
  id bigint GENERATED ALWAYS AS IDENTITY NOT NULL,
  workspace_id integer NOT NULL,
  nome character varying NOT NULL,
  criado_por integer,
  visibilidade character varying NOT NULL DEFAULT 'publico'::character varying CHECK (visibilidade::text = ANY (ARRAY['publico'::character varying, 'privado'::character varying]::text[])),
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT pastas_arquivos_pkey PRIMARY KEY (id),
  CONSTRAINT pastas_arquivos_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id),
  CONSTRAINT pastas_arquivos_criado_por_fkey FOREIGN KEY (criado_por) REFERENCES public.usuarios(id)
);
CREATE TABLE public.notificacoes (
  id bigint GENERATED ALWAYS AS IDENTITY NOT NULL,
  workspace_id integer NOT NULL,
  icone text,
  mensagem text NOT NULL,
  tipo character varying DEFAULT 'geral'::character varying,
  lida boolean DEFAULT false,
  criado_por integer,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT notificacoes_pkey PRIMARY KEY (id),
  CONSTRAINT notificacoes_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id),
  CONSTRAINT notificacoes_criado_por_fkey FOREIGN KEY (criado_por) REFERENCES public.usuarios(id)
);
CREATE TABLE public.eixo (
  id bigint GENERATED ALWAYS AS IDENTITY NOT NULL,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  CONSTRAINT eixo_pkey PRIMARY KEY (id)
);